.scroll-hide {
    max-height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    -ms-overflow-style: none;
}